body {
  font-family: "Bellota Text", cursive;
  background-color: lightgray;
}

.cajaContacto {
  background-color: white;
  border-radius: 5px;
}

.acciones {
  display: flex;
  justify-content: space-around;
}
